* {
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
}

/*Small devices (tablets, 375px and up) */
@media only screen and (min-width: 375px) {
  .container {
    background-color: #e8eaf1;
  }

  .header {
    padding: 25px;
  }
  .form {
    margin-top: 20px;
  }
  .form-div-p {
    margin: 10px;
  }

  .input {
    margin: 5px;
    padding: 5px;
    height: 40px;
    width: 250px;
    border-radius: 0.3rem;
  }

  .button {
    margin: 5px;
    padding: 10px;
    border-radius: 0.3rem;
  }

  .list-button {
    margin-left: 10px;
    padding: 10px;
    border-radius: 0.3rem;
    margin-right: 0;
  }

  .list-div {
    background-color: white;
    border-radius: 0.3rem;
    padding: 5px;
    margin: 5px;
    width: 300px;
  }
  .list-p {
    margin-right: auto;
    margin-top: 5px;
  }
  .hr {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  /*Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .container {
      background-color: rgb(46, 78, 136);
    }
    .header {
      color: rgb(229, 255, 0);
    }
  }
}
